* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: cornflowerblue;
}
.container {
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius:20px;
    padding: 20px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.guessnum {
    font-size: 30px;
    font-weight: 500;
}
.highorlow {
    font-size: 20px;
}
.inputandbutton {
    display: flex;
    margin:20px;
    gap: 30px;
}
input {
    width: calc(100% / 2 - 30px);
    border-radius: 10px;
    text-align: center;
    border: 1px solid #aaa;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}
button {
    height: 50px;
    width: calc(100% / 2 - 20px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.35s;
}
.numofchance {
    font-size: 20px;
}
input::-webkit-inner-spin-button {
    display: none;
}
button:active {
    transform: scale(0.97);
}
.container:hover {
    transform:scale(0.99);
}